:root {
  --dropdown-box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  --dropdown-border-radius: 5px;
  --dropdown-padding: 10px;
  --dropdown-margin: 10px;
  --dropdown-font-size: var(--font-size);
  --dropdown-min-width: 200px;
  --dropdown-max-height: 200px;
  --dropdown-border-width: 2px;
  --dropdown-background: var(--bg);
  --dropdown-background-color: var(--bg);
  --dropdown-text: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-wrap {
  overflow: auto;
  max-height: var(--dropdown-max-height);
}

/*.dropdown.dropdown-open:before {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	content: "";
	left: 0;
	background: transparent;
	z-index: var(--z-index-fixed);
}*/

.dropdown-btn {
  border: none;
  position: relative;
  padding: var(--dropdown-padding) calc(var(--dropdown-padding) * 2);
  border-radius: var(--dropdown-border-radius);
  font-size: var(--dropdown-font-size);
}

.dropdown-open .dropdown-menu {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.dropdown-wrap::-webkit-scrollbar {
  width: calc(var(--dropdown-font-size) / 2);
}

.dropdown-wrap::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 50px;
}

.dropdown-toggle:before {
  position: absolute;
  content: '';
  top: calc(50% - 9px);
  right: var(--dropdown-padding);
  width: calc(var(--dropdown-font-size) / 2);
  height: calc(var(--dropdown-font-size) / 2);
  border: var(--dropdown-border-width) solid;
  border-top: 0;
  border-left: 0;
  -webkit-transform: translateY(calc(-50% + 7px)) rotate(45deg);
  -ms-transform: translateY(calc(-50% + 7px)) rotate(45deg);
  transform: translateY(calc(-50% + 7px)) rotate(45deg);
}

.dropdown-toggle {
  padding-right: calc(var(--dropdown-padding) * 3.5) !important;
}

.dropdown-menu {
  position: absolute;
  background: #ffffffb0;
  min-width: 200px;
  backdrop-filter: blur(14px);
  width: auto;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  left: 0;
  -moz-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  z-index: 9999;
  top: calc(100% + 10px);
  height: auto;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  list-style: none;
  transform: scale(0);
  transform-origin: top left;
  margin: 0;
}

.dropdown-menu:before {
  content: '';
  border-width: 7px;
  border-style: solid;
  border-color: #ff000000 #0000ff00 #ffffffd4 #ffa50000;
  position: absolute;
  top: -14px;
  left: 20px;
}

.dropdown-menu.dropdown-menu-right:before {
  top: -13px;
  right: 20px;
  left: unset;
}

.dropdown-menu.dropdown-menu-right {
  left: unset;
  right: 0;
  transform-origin: top right;
}

.dropdown-item:hover {
  background: var(--primary);
  cursor: pointer;
  color: #fff;
}

.dropdown-item {
  display: block;
  padding: 8px 15px;
  color: #303a52;
  transition: none !important;
  font-size: 15px;
}
.dropdown-item * {
  transition: none !important;
}
.action-div {
  display: flex;
  align-items: center;
}

.dropdown-icon-left {
  margin-right: var(--dropdown-margin);
  font-size: var(--dropdown-font-size);
}

.dropdownOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  content: '';
  left: 0;
  background: transparent;
  z-index: 0;
}
.dropdown-icon-right {
  margin-left: auto;
  margin-right: 0;
  font-size: var(--dropdown-font-size);
}

.dropdown-fullwidth .dropdown-menu {
  width: 100%;
  min-width: fit-content;
}

.dropdown-menu > div {
  max-height: calc(100vh - 90px);
}
.dropdown-wrap {
  overflow: auto;
  max-height: 500px;
}

.dropdown-header {
  display: block;
  padding: calc(var(--dropdown-padding) / 2) var(--dropdown-padding);
  margin-bottom: 0;
  font-size: calc(var(--dropdown-font-size) - 2px);
  color: #303a52;
  font-weight: 600;
  cursor: default;
}

.dropdown-item-text {
  display: block;
  padding: var(--dropdown-padding);
  color: #303a52;
}

/*=====Colors=====*/
.dropdown-primary {
  --dropdown-background: var(--primary);
  --dropdown-background-color: var(--primary-color);
  --dropdown-text: var(--primary-text);
}

.dropdown-wrap::-webkit-scrollbar-thumb {
  background: var(--dropdown-background);
  border-radius: 50px;
}

.dropdown-menu .dropdown-item.active {
  background: var(--dropdown-background);
  color: var(--dropdown-text);
}

.dropdown-item.active {
  background: var(--dropdown-background);
  color: var(--dropdown-text);
}

/*=====Colors End=====*/

/*=====Layouts=====*/
.dropdown-rounded {
  --dropdown-border-radius: 10px;
}

.dropdown-no-radius {
  --dropdown-border-radius: 0px;
}

/*=====Layouts End=====*/
/*=====Variants=====*/

.dropdown-floating .dropdown-menu:before {
  display: none;
}

.dropdown-fluid .dropdown-item {
  border-radius: var(--dropdown-border-radius);
}

.dropdown-fluid .dropdown-wrap {
  padding-right: calc(var(--dropdown-padding) / 2);
}

.dropdown-fluid .dropdown-menu {
  padding: calc(var(--dropdown-padding) / 2);
}

.dropdown-fluid .dropdown-header {
  padding: calc(var(--dropdown-padding) / 2);
}

.dropdown-drawer .dropdown-menu:before {
  display: none;
}

.dropdown-drawer .dropdown-menu {
  border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
  top: 100%;
  width: 100%;
  -moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}

.dropdown-open.dropdown-drawer .dropdown-toggle {
  border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0;
}

/*=====Variants End=====*/

/*=====Sizes=====*/

.dropdown-extra-large {
  --dropdown-padding: 20px;
  --dropdown-margin: 15px;
  --dropdown-font-size: 20px;
  --dropdown-min-width: 300px;
  --dropdown-max-height: 300px;
}

.dropdown-large {
  --dropdown-padding: 15px;
  --dropdown-margin: 15px;
  --dropdown-font-size: 18px;
  --dropdown-min-width: 250px;
  --dropdown-max-height: 250px;
}

.dropdown-small {
  --dropdown-padding: 8px;
  --dropdown-margin: 5px;
  --dropdown-font-size: 14px;
  --dropdown-min-width: 150px;
  --dropdown-max-height: 150px;
}

.dropdown-extra-small {
  --dropdown-margin: 5px;
  --dropdown-padding: 4px;
  --dropdown-font-size: 12px;
  --dropdown-min-width: 130px;
  --dropdown-max-height: 130px;
}

/*=====Sizes End=====*/

/*=====Positions=====*/
.drop-right .dropdown-menu {
  left: calc(100% + 10px);
  right: unset;
  top: 0;
  width: auto;
  transform-origin: top left;
}

.drop-right .dropdown-menu:before {
  right: unset;
  top: 15px;
  left: -14px;
  border-color: transparent var(--bg) transparent #9c27b000;
}

.dropdown-drawer.drop-right.dropdown-open .dropdown-toggle {
  border-radius: var(--dropdown-border-radius) 0 0 var(--dropdown-border-radius);
}

.dropdown-drawer.drop-right .dropdown-menu {
  border-radius: 0 var(--dropdown-border-radius) var(--dropdown-border-radius)
    var(--dropdown-border-radius);
  left: 100%;
}

.drop-left .dropdown-menu {
  right: calc(100% + 10px);
  left: unset;
  top: 0;
  width: auto;
  transform-origin: top right;
}

.drop-left .dropdown-menu:before {
  left: unset;
  top: 15px;
  right: -14px;
  border-color: transparent transparent transparent var(--bg);
}

.dropdown-drawer.drop-left.dropdown-open .dropdown-toggle {
  border-radius: 0px var(--dropdown-border-radius) var(--dropdown-border-radius)
    0px;
}

.dropdown-drawer.drop-left .dropdown-menu {
  border-radius: var(--dropdown-border-radius) 0 var(--dropdown-border-radius)
    var(--dropdown-border-radius);
  right: 100%;
}

.drop-top .dropdown-menu {
  bottom: calc(100% + 10px);
  top: unset;
  transform-origin: bottom left;
}

.drop-top .dropdown-menu.dropdown-menu-right {
  transform-origin: bottom right;
}

.drop-top .dropdown-menu:before {
  top: unset;
  left: 20px;
  bottom: -14px;
  border-color: var(--bg) transparent transparent transparent;
}

.drop-top .dropdown-menu.dropdown-menu-right:before {
  left: unset;
}

.dropdown-drawer.drop-top.dropdown-open .dropdown-toggle {
  border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
}

.dropdown-drawer.drop-top .dropdown-menu {
  border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0;
  bottom: 100%;
}

/*=====Positions End=====*/
