.main-input-wrap {
	border: 0;
	outline: none;
	padding-left: 3px;
	margin-top: 2px;
}
.form-payment-group {
	border: 1px solid rgb(237 237 237);
	padding: 5px 10px 7px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.main-payment-label {
	display: flex;
	align-items: center;
	padding: 0;
	font-family: "Nunito SemiBold", sans-serif;
	color: rgb(117, 117, 117);
	pointer-events: none;
	border: 1px solid transparent;
	transform-origin: 0 0;
	transition: opacity .1s ease-in-out, transform .1s ease-in-out,padding .1s ease-in-out;
	font-size: 13px;
	font-weight: 500;
}
.main-payment-label i {
	font-size: 16px !important;
	margin-right: 8px;
}
.payment-col.col-md-12 {
	padding: 0;
}
.col-md-6.payment-col {
	padding: 0 9px;
}


@media screen and (max-width: 768px) {
	.col-md-6.payment-col {
		padding: 0 !important;
	}
}
