.loading-img{
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
	max-height: 200px;
	min-height: 200px;
	object-fit: cover;
	border: 1px solid #efefef;
	color: transparent;
}
.loaderWrap{
	user-select: none;

}
.heading{
	display: flex;
	align-items: center;
	height: 28.8px;
	margin-top: 15px !important;
}
.moreIcon{
	width: 9px;
	height: 24px;
}

.copyIcon{
	width: 29px;
	height: 24px;
	margin-top: 5px;
	border-radius: 5px !important;
}
.cardLoading{
	height: 16px !important;
}