.main-footer p.find-p {
  color: #fff;
  margin-top: 13px;
  margin-bottom: 30px;
}

.main-footer a.navbar-brand.footer-logo {
  color: white;
}
.iframe-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: white;
  padding: 5px;
  border-radius: 10px;
}
.iframe-map {
  height: 100%;
  width: 300px;
  margin-left: auto;
  max-width: 100%;
}
.footer-input-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.main-footer .search-div svg {
  width: 20px;
  height: 20px;
}

.main-footer .search-div {
  display: flex;
  align-items: center;
  border: 1px solid #ededed;
  padding: 3.9px 10px;
  border-radius: 8px;
  font-size: 14px;
  background: #f4f5f7;
  margin: 0 15px;
  width: 400px;
  max-width: 100%;
}

.main-footer .search-div input {
  border: none;
  font-size: 14px;
  background: #f4f5f7;
}

.main-footer .search-div input:focus {
  box-shadow: none !important;
}

.main-footer .search-div i {
  color: #fff;
  font-size: 20px;
}

section.main-footer {
  background: var(--dark-4);
  padding: 30px 0 15px;
}

.main-footer .search-div {
  margin-left: 0 !important;
}

.main-footer .inc-btn {
  padding: 10px 25px;
  white-space: nowrap;
}

.main-footer img.footer-logo {
  height: 61px;
  margin-bottom: 30px;
}

.main-footer .copy-row p {
  font-size: 14px;
  color: #5e6c84;
  margin-bottom: 10px;
}

.main-footer p.terms {
  text-align: right;
}

.main-footer .copy-row.row {
  border-top: 1px solid #5e6c84;
  padding-top: 15px;
}

.social-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 15px;
}

.social-wrap p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 0;
  margin-right: 10px;
}

.social-icon-wrap a img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.social-icon-wrap a {
  box-sizing: border-box;
  border-radius: 50px;
  margin-right: 10px;
  padding: 3px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-wrap a.youtube {
  background: red;
  color: white;
}

.social-icon-wrap a i {
  font-size: 20px;
}

.social-icon-wrap a.linkedin {
  background: #0077b7;
  color: white;
}

.social-icon-wrap a.instagram {
  background: #f3013c;
  color: #fff;
}

.social-icon-wrap a.facebook {
  background: #475993;
  color: #fff;
  margin-right: 0 !important;
}

.social-icon-wrap {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main-footer .search-div {
    width: auto;
    margin: 0 !important;
    margin-right: 10px !important;
  }
  .iframe-map {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .social-icons {
    margin-top: 20px !important;
    padding-top: 3px;
  }
  section.main-footer {
    padding: 30px 0 15px;
  }

  .main-footer .mb-hide {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .main-footer .search-div {
    padding: 0px 10px;
    flex: 1;
  }
  .iframe-map {
    width: 100%;
  }
  .main-footer .copy-row.row {
    padding-top: 10px;
  }
  section.main-footer {
    padding-bottom: 50px;
  }
  .copy-row.row p {
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .main-footer .search-div i {
    color: #fff;
    font-size: 15px;
  }

  .main-footer input.search-question {
    width: auto !important;
    max-width: 100px;
    background: 0 0;
    color: #fff !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    box-shadow: none;
    padding-right: 0;
  }

  .main-footer input.form-input.search-question {
    font-size: 12px;
  }

  .main-footer .search-div {
    padding: 0 6px;
  }

  .main-footer .search-div svg {
    width: 16px;
    height: 16px;
    margin-right: 3px;
  }
}
