.main-bg-section {
  background: url('./assets/images/h-bg.webp');
  background-size: 500px;
  background-position: top right;
  background-repeat: no-repeat;
}

.loading {
  animation: hintloading 2s ease-in-out 0s infinite reverse;
  -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
  background: gainsboro;
  color: transparent !important;
  border-radius: 5px;
}

.loading * {
  background: gainsboro !important;
  color: transparent !important;
}

@keyframes hintloading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes hintloading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: visible !important;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.owl-prev,
.owl-next {
  background: var(--primary) !important;
  margin-right: 10px;
  padding: 6px;
  color: white !important;
  display: flex;
  border-radius: 50%;
}

.owl-next {
  margin-right: 0;
}

.owl-nav i.bx {
  font-size: 25px;
}

.owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.ReactTags__tagInput {
  border-radius: 2px;
  display: block;
}

.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  width: 100%;
  border: 1px solid #ededed;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 15px;
  outline: 0;
  margin-top: 10px;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

.ReactTags__selected span.ReactTags__tag {
  border: none;
  background: var(--primary);
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 7px;
}

.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

.ReactTags__suggestions {
  position: absolute;
  top: 60px;
}

.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}

@media screen and (max-width: 992px) {
  .main-bg-section {
    background-size: 330px;
    background-position: center right;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .main-bg-section {
    background: url(./assets/images/edu_admin_big_cirlce.svg);
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 10px;
  }

  .owl-nav i.bx {
    font-size: 20px;
  }

  .owl-prev,
  .owl-next {
    margin-right: 5px;
    padding: 4px;
  }

  .owl-nav {
    margin-top: 10px;
  }
}

.input {
  border: 0;
  outline: none;
  border-bottom: 2px solid #eaeaea;
  border-image-slice: 1;
  text-decoration: none;
  border-radius: 0;
  font-size: 16px !important;
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  font-weight: 400;
  color: #495057;
  background: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: calc(1.5em + 1rem + 2px);
  line-height: 1.5;
  background: #f7f7f7;
  border-radius: 8px;
}

.input:focus {
  border-bottom: 2px solid var(--primary-color);
  text-decoration: none;
  box-shadow: none;
}

.hasError .input {
  border-color: var(--danger) !important;
}

.form-group label {
  font-weight: bold;
}

p.error {
  margin: 0;
  color: red;
  background: #ffebeb;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  font-weight: 600;
}
