.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 45, 64, 0.59);
  z-index: 999999;
}

.search-icon svg {
  width: 20px;
  height: 20px;
}

.input-div input {
  border: none;
  padding: 5px 10px;
  flex: 1;
  font-size: 17px;
  text-transform: unset !important;
}

.file-icon img {
  width: 30px;
  height: 30px;
}

.input-div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background: white;
  padding: 10px 20px;
  width: auto;
  border-radius: 10px;
}

.input-wrapper {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 7%;
}

.search-icon {
  display: flex;
  align-items: center;
}

.file-icon svg {
  width: 25px;
  height: 25px;
}

.file-div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.file-list.active-file .file-div {
  background: var(--primary);
  color: white;
}

.file-info {
  flex: 1;
  width: calc(100% - 40px);
}
.file-list.active-file .file-div .file-info h3,
.file-list.active-file .file-div .file-info p {
  color: white !important;
}

.file-icon {
  margin-right: 15px;
}

.file-info h3 {
  margin-bottom: 0px;
  color: #2e3849;
  font-size: 16px;
}

.file-info p {
  color: gray;
  margin-bottom: 0;
  font-size: 15px;
}

.file-wrapper {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  max-height: 70vh;
  overflow: auto;
}

.file-list {
  background: white;
  margin: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #ececec;
  padding-bottom: 5px;
}

.file-list:last-child {
  border-bottom: none;
}

.file-list:hover .file-div {
  background: aliceblue;
}

.search-dark-theme .input-div,
.search-dark-theme .input-div input {
  background: var(--dark-1);
  color: rgb(139, 157, 189);
}
.search-dark-theme .input-div input::placeholder {
  color: rgb(139, 157, 189);
}

.search-dark-theme .file-wrapper,
.search-dark-theme .file-list {
  background: #1d293e;
  color: rgb(139, 157, 189);
}
.search-dark-theme .file-list {
  border-color: rgb(52, 62, 81);
}
.search-dark-theme .file-list:hover .file-div {
  background: #132439;
}
.search-dark-theme.search-overlay {
  background: #00000085 !important;
}
.search-dark-theme .file-info h3 {
  color: rgb(139, 157, 189);
}
.search-dark-theme .file-info p {
  color: rgb(92 104 125);
}
@media screen and (max-width: 768px) {
  .input-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .file-icon img {
    width: 20px;
    height: 20px;
  }
  .input-div input {
    font-size: 14px;
  }

  .file-info p {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .file-list {
    margin: 2px 0;
    padding-bottom: 2px;
  }

  .file-div {
    padding: 2px 5px;
  }

  .input-wrapper {
    width: 95%;
    margin-top: 70px;
  }

  .file-wrapper {
    padding: 5px 10px;
  }

  .file-info h3 {
    font-size: 13px;
  }

  .search-icon svg {
    width: 20px;
    height: 20px;
  }

  .input-div {
    padding: 6px 12px;
  }
}
