.controls {
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  padding: 5px;
  border-radius: 10px;
  background: #fff;
  z-index: 99999;
  left: 20px;
  top: 145px;
  position: fixed;
  right: unset;
}

.controls a {
  padding: 0;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 22px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.controls a svg,
.controls a img {
  width: 20px;
  height: 20px;
}

.profileImg {
  object-fit: cover;
  border-radius: 50%;
}
